.Footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: antiquewhite;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.footer_section{
    display: flex;
    justify-content: space-evenly;
}