.Timer{
    padding: 15px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}